*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav, footer, header, aside {display: block;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    background-color: #191919;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    overflow: hidden;
    position: relative;
}

.header{
    width: 100%;
    z-index: 100;
}

.header__body{
    max-width: 1400px;
    margin: auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__logo{
    width: 300px;
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.header__logo.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.header__logo img{
    width: 100%;
}

.header__burger{
    display: none;
    transform: translate(100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.header__burger.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.header__list{
    display: flex;
    gap: 60px;
    transform: translate(100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0.2s;
}

.header__list.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.header__link{
    font-size: 20px;
    color: white;
    position: relative;
    font-weight: 400;
    transition: 0.2s all;
}

.header__link:hover{
    color: #34C759;
}

.header__link:before{
    content: ' ';
    bottom: -10px; 
    position: absolute;
    width: 100%; 
    height: 2px; 
    background-color: #34C759;
    transition: 0.2s all;
    transform: scaleX(0); 
}

.header__link:hover:before{
    width: 100%;
    transform: scaleX(1); 
}

/* End of the "header" section */

.art-dish{
    position: absolute;
    width: 1200px;
    height: 900px;
    top: 0px;
    right: 0px;
    z-index: -1;
    background: url(../Img/picture1.jpg);
    background-size: 150%;
    background-position: center;
    box-shadow: 50px -50px 100px 100px #191919 inset;
}

.art-dish .blackout{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #19191983;
}

/* End of the "art-dish" section */

.primary{
    max-width: 1400px;
    margin: auto;
    padding: 100px 20px 150px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.primary__head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.primary__title{
    font-size: 75px;
    max-width: 1000px;
    font-weight: 300;
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.primary__title.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.primary__title span{
    font-weight: 600;
}

.primary__subtitle{
    font-size: 20px;
    max-width: 800px;
    font-weight: 300;
    line-height: 35px;
    transform: translate(100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0.2s;
}

.primary__subtitle.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.primary__button{
    width: 220px;
    height: 70px;
    margin-top: 60px;
    transform: translate(0%, 100%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.primary__button.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.primary__button a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #34C759;
    border: 2px solid #34C759;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.2s all;
}

.primary__button a:hover{
    color: #34C759;
    box-shadow: 0px 0px 15px #34C759;
}

.primary__button a:before{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    background-color: #191919;
    transition: 0.3s;
    display: block;
    z-index: -1; 
}

.primary__button a:hover:before{
    width: 100%; 
}

.primary__container{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0.2s;
}

.primary__container.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.primary__item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary__logo{
    width: 45px;
    height: 45px;
}

.primary__logo img{
    width: 100%;
}

.primary__name{
    font-size: 25px;
    margin-top: 30px;
}

.primary__text{
    margin-top: 15px;
    font-size: 20px;
    color: #A6A6A6;
}

/* End of the "primary" section */

.about{
    max-width: 1400px;
    margin: auto;
    padding: 110px 20px 110px 20px;
    background: #252525;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.about .heading{
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.about .heading.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.heading{
    display: flex;
    justify-content: center;
    color: #303030;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: 15px;
    position: relative;
    text-align: center;
}

.heading__title{
    position: absolute;
    color: white;
    font-size: 35px;
    font-weight: 300;
    top: 50%;
    transform: translate(0, -50%);
    letter-spacing: 5px;
}

.heading__title h1{
    position: relative;
}

.heading__title h1:before{
    content: '';
    width: 100px;
    position: absolute;
    bottom: -45px;
    border-bottom: 2px solid #34C759;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.about__text{
    color: #A6A6A6;
    font-size: 20px;
    max-width: 1000px;
    line-height: 40px;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    transform: translate(100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.about__text.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.about__container{
    width: 100%;
    height: 400px;
    margin-top: 100px;
    padding: 0px 70px;
    position: relative;
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.about__container.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.swiper{
    width: 100%;
    height: 100%;
}

.swiper-slide{
   border-radius: 10px;
   overflow: hidden;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about__container .swiper-button-prev::after,
.about__container .swiper-button-next::after{
    color: white;
    font-size: 50px;
}

.about__container .swiper-scrollbar-drag{
    background-color: white;
    box-shadow: 0px 0px 3px white;
    display: none;
}

.about__container .swiper-scrollbar-horizontal{
    background-color: #252525;
    margin-bottom: 5px;
    display: none;
}

/* End of the "about" section */

.work{
    max-width: 1400px;
    margin: auto;
    padding: 110px 20px 110px 20px;
}

.work .heading{
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.work .heading.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.work__container{
    width: 100%;
    margin-top: 100px;
    display: flex;  
    gap: 50px;
    transform: translate(100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.work__container.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.work__item{
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: #252525;
    padding: 30px;
    color: white;
    cursor: pointer;
    transition: 0.2s all;
}

.work__title{
    font-size: 25px;
    font-weight: 500;
}

.work__line{
    border-bottom: 2px solid #34C759;
    width: 80px;
    margin-top: 25px;
}

.work__text{
    font-size: 20px;
    margin-top: 30px;
    line-height: 30px;
    color: #A6A6A6;
}

.work__item.active{
    background-color: #34C759;
    box-shadow: 0px 0px 10px #34C759;
}

.work__item.active .work__title{
    color: #191919;
}

.work__item.active .work__line{
    border-bottom: 2px solid #191919;
}

.work__item.active .work__text{
    color: #191919;
}

/* End of the "work" section */

.dishes{
    max-width: 1400px;
    margin: auto;
    padding: 110px 20px 110px 20px;
}

.dishes .heading{
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.dishes .heading.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.dishes__container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.dishes__floor-1{
    width: 100%;
    display: flex;
    gap: 50px;
    transform: translate(100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.dishes__floor-1.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.dishes__floor-2{
    width: 100%;
    display: flex;
    gap: 50px;
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.dishes__floor-2.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.dishes__item{
    width: 100%;
    background: #252525;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}

.dishes__photo{
    width: 100%;
    height: 300px;
}

.dishes__photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.dishes__body{
    padding: 30px;
}

.dishes__name{
    font-size: 35px;
}

.dishes__description{
    font-size: 16px;
    color: #A6A6A6;
}

.dishes__text{
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #A6A6A6;
}

.dishes__mark{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.dishes__rating{
    display: flex;
    align-items: center;
    gap: 5px;
}

.dishes__star{
    width: 25px;
    height: 25px;
}

.dishes__star img{
    width: 100%;
}

.dishes__button{
    width: 140px;
    height: 55px;
}

.dishes__button a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #34C759;
    border: 2px solid  #34C759;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.2s all;
}

.dishes__button a:hover{
    color: #34C759;
    box-shadow: 0px 0px 15px #34C759;
}

.dishes__button a:before{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    background-color: #191919;
    transition: 0.3s;
    display: block;
    z-index: -1; 
}

.dishes__button a:hover:before{
    width: 100%; 
}

/* End of the "dishes" section */

.chefs{
    max-width: 1400px;
    margin: auto;
    padding: 110px 20px 110px 20px;
}

.chefs .heading{
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.chefs .heading.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.chefs__container{
    margin-top: 100px; 
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.chefs__description{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    transform: translate(100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.chefs__description.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.chefs__item{
    display: flex;
    gap: 20px;
}

.chefs__picture{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.chefs__picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.chefs__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.chefs__initials{
    color: white;
    font-size: 25px;
}

.chefs__position{
    color: #A6A6A6;
    font-size: 18px;
}

.chefs__dishs{
    width: 100%;
    height: 70px;
    display: flex;
    gap: 50px;
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.chefs__dishs.animated{
    transform: translate(0%, 0%);
	opacity: 1;  
}

.chefs__dish-1{
    width: 200%;
    height: 100%;
}

.chefs__dish-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.chefs__dish-2{
    width: 100%;
    height: 100%;
}

.chefs__dish-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* End of the "chefs" section */

.recipes{
    max-width: 1400px;
    margin: auto;
    padding: 110px 20px 110px 20px;
}

.recipes .heading{
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.recipes .heading.animated{
    transform: translate(0%, 0%);
	opacity: 1; 
}

.recipes__container{
    width: 100%;
    margin-top: 100px;
    display: flex;
    gap: 50px;
}

.recipes__main-item{
    width: 100%;
    padding: 100px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.recipes__main-item.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.recipes__main-item:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.500);
}

.recipes__main-item img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.recipes__main-item .recipes__eating{
    text-transform: uppercase;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.650);
    padding: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
    z-index: 1;
}

.recipes__main-item .recipes__date{
    font-size: 20px;
    margin-top: 80px;
    z-index: 1;
}

.recipes__main-item .recipes__text{
    font-size: 30px;
    z-index: 1;
    margin-top: 50px;
    line-height: 45px;
    padding: 0px 50px;
}

.recipes__main-item .recipes__initials{
    font-size: 20px;
    margin-top: 50px;
    z-index: 1; 
}

.recipes__socials{
    margin-top: 80px;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 35px;
}

.recipes__views{
    display: flex;
    align-items: center;
    gap: 15px;
}

.recipes__comments{
    display: flex;
    align-items: center;
    gap: 15px;
}

.recipes__picture-views{
    width: 30px;
    height: 30px;
    background: url(../Img/show.png);
    background-size: cover;
    background-position: center;
}

.recipes__picture-comments{
    width: 30px;
    height: 30px;
    background: url(../Img/chat.png);
    background-size: cover;
    background-position: center;
}

.recipes__numbers{
    font-size: 18px;
    font-weight: 600;
}

.recipes__secondary-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    transform: translate(100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.recipes__secondary-items.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.recipes__secondary-item{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
    padding: 20px;
}

.recipes__secondary-item img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.recipes__secondary-item:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.500);
}

.recipes__secondary-item .recipes__text{
    font-size: 20px;
    line-height: 30px;
    z-index: 1;
}

.recipes__footer{
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.recipes__info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.recipes__secondary-item .recipes__date{
    font-size: 16px;
}

.recipes__secondary-item .recipes__eating{
    text-transform: uppercase;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.650);
    padding: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
    z-index: 1;
}

.recipes__secondary-item .recipes__socials{
    margin-top: 0px;
}

/* End of the "recipes" section */

.social{
    max-width: 1400px;
    margin: auto;
    padding: 110px 20px 110px 20px;
}

.social .heading{
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.social .heading.animated{
    transform: translate(0%, 0%);
	opacity: 1;
}

.social__container{
    width: 100%;
    margin-top: 100px;
    display: flex;
    gap: 50px;
    transform: translate(100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.social__container.animated{
    transform: translate(0%, 0%);
	opacity: 1; 
}

.social-item{
    width: 100%;
    background: #252525;
    color: white;
    overflow: hidden;
    border-radius: 10px;
}

.social-item__head{
    border-bottom: 1px solid #A6A6A6;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.social-item__info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-item__name{
    font-size: 16px;
}

.social-item__logo{
    border: 2px solid #303030;
    box-shadow: 0px 0px 5px #A6A6A6;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 10px;
}

.social-item__logo img{
    width: 100%;
}

.social-item__button{
    width: 130px;
    height: 45px;
}

.social-item__button a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #191919;
    background-color: #34C759;
    border: 2px solid #34C759;
    border-radius: 100px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.2s all;
}

.social-item__button a:hover{
    color: #34C759;
    box-shadow: 0px 0px 15px #34C759;
}

.social-item__button a:before{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    background-color: #191919;
    transition: 0.3s;
    display: block;
    z-index: -1; 
}

.social-item__button a:hover:before{
    width: 100%;
}

.social-item__twitter-body{
    padding: 30px;
    height: 300px;
    overflow-y: auto;
}

.social-item__twitter-body::-webkit-scrollbar{
    width: 15px;
}

.social-item__twitter-body::-webkit-scrollbar-track{
    background-color: #252525;
}

.social-item__twitter-body::-webkit-scrollbar-thumb{
    background-color: #34C759;
    border-radius: 50px;
    border: 5px solid #252525;
}

.social-item__twitter-body__title{
    font-size: 20px;
    color: #A6A6A6;
}

.social-item__twitter-body__text{
    font-size: 18px;
    margin-top: 30px;
    line-height: 35px;
}

.social-item__twitter-body__id{
    color: #34C759;
    font-size: 20px;
    margin-top: 30px;
}

.social-item__facebook-body{
    padding: 30px;
    height: 300px;
    overflow-y: auto;
}

.social-item__facebook-body::-webkit-scrollbar{
    width: 15px;
}

.social-item__facebook-body::-webkit-scrollbar-track{
    background-color: #252525;
}

.social-item__facebook-body::-webkit-scrollbar-thumb{
    background-color: #34C759;
    border-radius: 50px;
    border: 5px solid #252525;
}

.social-item__facebook-body__title{
    font-size: 20px;
    color: #A6A6A6;
}

.social-item__facebook-body__text{
    font-size: 18px;
    margin-top: 30px;
    line-height: 35px;
}

.social-item__facebook-body__id{
    color: #34C759;
    font-size: 20px;
    margin-top: 30px;
}

.social-item__instagram-body{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.social-item__instagram-body__floor{
    height: 100%;
    display: flex;
}

.social-item__instagram-body__photo{
    width: 100%;
    height: 100%;
}

.social-item__instagram-body__photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* End of the "social" section */

.footer{
    background: #252525;
    margin-top: 100px;
    position: relative;
}

#particles-js{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.footer__body{
    max-width: 1400px;
    margin: auto;
    padding: 60px 20px 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.footer__container.animated{
    transform: translate(0%, 0%);
	opacity: 1;  
}

.footer__item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer__logo{
    width: 45px;
    height: 45px;
}

.footer__logo img{
    width: 100%;
}

.footer__name{
    font-size: 25px;
    margin-top: 30px;
}

.footer__text{
    margin-top: 15px;
    font-size: 20px;
    color: #A6A6A6; 
}

.footer__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    transform: translate(-100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.footer__info.animated{
    transform: translate(0%, 0%);
	opacity: 1;  
}

.footer__logotype{
    width: 300px;
}

.footer__logotype img{
    width: 100%;
}

.footer__designed{
    color: #A6A6A6;
    font-size: 20px;
    line-height: 35px;
}

.footer__border{
    width: 100%;
    border-bottom: 1px solid #A6A6A6;
    transform: translate(100%, 0%);
	opacity: 0;
	transition: 0.8s all ease 0s;
}

.footer__border.animated{
    transform: translate(0%, 0%);
	opacity: 1;  
}

/* End of the "footer" section */

.back_to_top img{
    width: 35px;
    padding: 5px;
}

.back_to_top{
    position: fixed;
    bottom: -50px;
    right: 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s all;
    border: 2px solid #34C759;
    background-color: #191919;
    border-radius: 5px;
    z-index: 50;
}

.back_to_top.active{
    bottom: 10px;
}

.back_to_top:hover{
    opacity: 0.8;
    box-shadow: 0px 0px 10px #34C759;
    margin-bottom: 5px;
}

.progress{
    position: fixed;
    left: 0;
    top: 0;
    width: 0%;
    height: 1px;
    background-color: #34C759;
    box-shadow: 0px 0px 10px #34C759;
    display: none;
    z-index: 101;
}

/* Scroll Styling */
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #191919;
}

::-webkit-scrollbar-thumb{
    background-color: #34C759;
}

/* Adaptive Font */
@media(max-width: 1150px){

    .primary__title{
        font-size: calc(35px + 40 * (100vw / 1100));
    }

    .primary__title{
        font-size: calc(35px + (40 + 40 * 0.7) * ((100vw - 320px) / 1100));
    }

    .primary__subtitle{
        font-size: calc(18px + 2 * (100vw / 1100));
    }

    .primary__subtitle{
        font-size: calc(18px + (2 + 2 * 0.7) * ((100vw - 320px) / 1100));
    }

    .primary__name{
        font-size: calc(20px + 15 * (100vw / 1100));
    }

    .primary__name{
        font-size: calc(20px + (15 + 15 * 0.7) * ((100vw - 320px) / 1100));
    }

    .primary__text{
        font-size: calc(18px + 7 * (100vw / 1100)); 
    }

    .primary__text{
        font-size: calc(18px + (7 + 7 * 0.7) * ((100vw - 320px) / 1100));
    }

    .heading{
        font-size: calc(40px + 60 * (100vw / 1100)); 
    }

    .heading{
        font-size: calc(40px + (60 + 60 * 0.7) * ((100vw - 320px) / 1100));
    }

    .heading__title{
        font-size: calc(25px + 10 * (100vw / 1100)); 
    }

    .heading__title{
        font-size: calc(25px + (10 + 10 * 0.7) * ((100vw - 320px) / 1100));
    }

    .dishes__text{
        font-size: calc(18px + 7 * (100vw / 1100));  
    }

    .dishes__text{
        font-size: calc(18px + (7 + 7 * 0.7) * ((100vw - 320px) / 1100)); 
    }

    .dishes__name{
        font-size: calc(30px + 5 * (100vw / 1100));
    }

    .dishes__name{
        font-size: calc(30px + (5 + 5 * 0.7) * ((100vw - 320px) / 1100));
    }

    .dishes__description{
        font-size: calc(13px + 3 * (100vw / 1100));
    }

    .dishes__description{
        font-size: calc(13px + (3 + 3 * 0.7) * ((100vw - 320px) / 1100));
    }

    .footer__name{
        font-size: calc(20px + 15 * (100vw / 1100));
    }

    .footer__name{
        font-size: calc(20px + (15 + 15 * 0.7) * ((100vw - 320px) / 1100));
    }

    .footer__text{
        font-size: calc(18px + 7 * (100vw / 1100)); 
    }

    .footer__text{
        font-size: calc(18px + (7 + 7 * 0.7) * ((100vw - 320px) / 1100));
    }

    .footer__designed{
        font-size: calc(16px + 4 * (100vw / 1100));
    }

    .footer__designed{
        font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1100));
    }
}

/* Adaptive Tablet */
@media(max-width: 1150px){

    .primary{
        padding: 130px 20px 150px 20px;
    }

    .primary__container{
        flex-direction: column;
        margin-top: 70px;
        gap: 60px;
    }

    .primary__logo{
        width: 55px;
        height: 55px;
    }

    .art-dish{
        background-size: 100%;
    }

    .about__container{
        padding: 0px;
        height: 600px;
    }

    .about__container .swiper-button-prev::after,
    .about__container .swiper-button-next::after{
        display: none;
    }

    .about__container .swiper-scrollbar-drag{
        display: block;
    }
    
    .about__container .swiper-scrollbar-horizontal{
        display: block;
    }

    .work__container{
        flex-direction: column;
    }

    .work__item{
        align-items: center;
        text-align: center;
    }

    .work__title{
        font-size: 30px;
    }

    .work__text{
        font-size: 25px;
        line-height: 35px;
        max-width: 800px;
    }

    .dishes__floor-1{
        flex-direction: column;
    }

    .dishes__floor-2{
        flex-direction: column;
    }

    .dishes__text{
        line-height: 35px;
    }

    .dishes__photo{
        height: 400px;
    }

    .dishes__rating{
        gap: 8px;
    }

    .dishes__star{
        width: 30px;
        height: 30px;
    }

    .chefs__description{
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .chefs__item{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .chefs__dishs{
        gap: 0px;
    }

    .chefs__picture{
        width: 150px;
        height: 150px;
    }

    .chefs__dish-1{
        width: 100%;
    }

    .chefs__container{
        gap: 100px;
    }

    .chefs__initials{
        font-size: 32px;
    }

    .chefs__position{
        font-size: 22px;
    }

    .recipes__container{
        flex-direction: column;
    }

    .recipes__main-item{
        padding: 50px 20px;
    }

    .recipes__main-item .recipes__text{
        max-width: 500px;
        padding: 0px 0px;
    }

    .recipes__secondary-item{
        gap: 30px;
    }

    .recipes__secondary-item .recipes__text{
        font-size: 25px;
        max-width: 800px;
        line-height: 40px;
    }

    .social__container{
        flex-direction: column;
    }

    .social-item__instagram-body{
        overflow-y: auto;
    }

    .social-item__instagram-body::-webkit-scrollbar{
        width: 15px;
    }

    .social-item__instagram-body::-webkit-scrollbar-track{
        background-color: #252525;
    }

    .social-item__instagram-body::-webkit-scrollbar-thumb{
        background-color: #34C759;
        border-radius: 50px;
        border: 5px solid #252525;
    }

    .social-item__name{
        font-size: 20px;
    }

    .social-item__info{
        gap: 20px;
    }

    .social-item__button{
        width: 180px;
        height: 55px;
    }

    .social-item__logo{
        width: 55px;
        height: 55px;
    }

    .social-item__button a{
        font-size: 16px;
    }

    .footer__container{
        flex-direction: column;
        gap: 60px;
    }

    .footer__logo{
        width: 55px;
        height: 55px;
    }

    .footer__logotype{
        width: 250px;
    }

    .back_to_top:hover{
        box-shadow: none;
        margin-bottom: 0px;
        opacity: 0.8;
    }

    .back_to_top{
        opacity: 0.8;
    }

    .progress{
        display: block;
    }

}

/* Menu Burger */
@media(max-width: 1150px){

    body.lock{
        overflow: hidden;
    }

    .header{
        position: fixed;
        background-color: #191919;
        border-bottom: 1px solid #34C759;
        box-shadow: 0px 0px 10px #34C759;
    }

    .header__body{
        padding: 20px 20px;
    }

    .header__logo {
        width: 210px;
    }

    .header__burger{
        display: block;
        position: relative;
        width: 35px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .header__burger::before,
    .header__burger::after{
        content: ' ';
        background-color: #34C759;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.2s ease 0s;
    }

    .header__burger::before{
        top: 0;
    }

    .header__burger::after{
        bottom: 0;
    }

    .header__burger span{
        position: absolute;
        background-color: #34C759;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.2s ease 0s;
    }

    .header__menu{ 
        position: fixed;
        right: -210px;
        top: 66px;
        width: 200px;
        height: 100%;
        background: #34c7594f;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-left: 1px solid #34C759;
        box-shadow: 0px 0px 10px #34C759;
        transition: all 0.8s ease 0s;
        overflow: auto;
    }

    .header__menu.active{
        right: 0;
    }

    .header__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        margin: 50px 0px;
    }

    .header__burger.active::before{
        transform:rotate(45deg);
        top: 9px;
        background-color: white;
    }

    .header__burger.active::after{
        transform:rotate(-45deg);
        bottom: 9px;
        background-color: white;
    }

    .header__burger.active span{
        transform: scale(0);
    }
}

/* Adaptive Phone */
@media(max-width: 768px){

    .dishes__mark{
        flex-direction: column;
        gap: 30px;
    }

    .recipes__secondary-item .recipes__text{
        text-align: center;
    }
}

/* Adaptive Phone */
@media(max-width: 500px){

    .recipes__footer{
        flex-direction: column;
        gap: 20px;
    }  

    .social-item__head{
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
}

@media(max-height: 350px){

    .header__list{
        height: 260px;
    }
}